# User Specific (Data generated during analysis)
processed_html/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Project Specific Databases
kontor_automation.db
*.db

# Celery
celerybeat-schedule
celerybeat.pid

# OS Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
